<% let posts = response.results; %>
<% let fixedPostIndex = posts.findIndex(el => el.type === 'fixed_post'); %>
<% let analyticsIndex = posts.findIndex(el => el.type === 'analytics'); %>
<div class="hero-img-bg" style="background-image:url('https://s3-sa-east-1.amazonaws.com/blog-papiloscopiando/blog/principal/hero-mozjpeg.jpg');"></div>
<main class="container-fluid main-home">
    <div class="container content">
        <div class="row justify-content-center">
            <section class="col-md-8 publication-section">
                <% if (fixedPostIndex !== -1) { %>
                    <div class="fixed-post">
                        <%- PrismicDOM.RichText.asHtml(posts[fixedPostIndex].data.post_title, ctx.linkResolver) %>
                        <% posts[fixedPostIndex].data.body.forEach(slice => { %>
                            <%- PrismicDOM.RichText.asHtml(slice.primary.content, ctx.linkResolver) %>
                        <% }); %>
                    </div>
                <% } %>
                <h1 class="publication-section-title">Publicações</h1>
                <% posts.forEach( (post) => {%>
                    <% if (post.type === "blog_post") { %>
                    <div class="preview row">
                        <div class="preview-img col-12 col-xl-6">
                            <% let img = post.data.body.filter(ele=>ele.slice_type=='imagem_de_destaque')[0]; %>
                            <img class="img-fluid"
                            src="<%= img != undefined ? img.primary.featured_image : '#' %>" alt=""/>
                        </div>
                        <div class="preview-info col-12 col-xl-6">
                            <div class="preview-header text-center">
                                <a class="preview-title" href="/post/<%= post.uid %>"><h5><%- PrismicDOM.RichText.asText(post.data.title) %></h5></a>
                                <a class="preview-author" href="/autor"><%= post.data.author[0].first_name %></a>
                            </div>
                            <div class="ler-mais"><a href="/post/<%= post.uid %>">Leia mais</a></div>
                        </div>
                    </div><!-- /row -->
                    <% } %>
                <% }) %>
                <!-- pagination -->
                <!-- <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li></li>
                    </ul>
                </nav> -->
            </section>
            <section class="col-md-4 sidebar-section slideFromRightToLeft">
                <div class="sidebar-author">
                    <img src="https://s3-sa-east-1.amazonaws.com/blog-papiloscopiando/blog/principal/avatar_150px.jpg"
                        alt="Avatar de Brasilio" height="100px" width="100px" />
                    <p class="autor-do-blog"><a class="author-name" href="/autor">Brasilio Caldeira Brant</a> é o autor de Papiloscopiando</p>
                </div>
                <% if (analyticsIndex !== -1) { %>
                    <div class="sidebar-analytics">
                        <p><span><%= posts[analyticsIndex].data.numero_de_visitas_total %></span> visitas totais</p>
                    </div>
                <% } %>
            </section>
        </div><!-- /row -->
    </div>
</main>