<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        
        <%- include('partials/head') %>
    </head>
    <body>        
        <header class="container-fluid barraNavTopo pt-3 pb-3">
            <%- include('partials/header') %>
        </header>

        <!-- Menu de navegação esquerdo -->
        <nav class="navbarLateral">
            <%- include('partials/sidenavbar') %>
        </nav>

        <div class="image-index-page"></div>
        <main class="container-fluid">
            <div class="container content">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1>Publicações</h1>
                        <% posts.forEach( (post) => {%>
                            <div class="preview row">
                                <div class="preview-img col-12 col-xl-6">
                                    <% let img = post.data.body.filter(ele=>ele.slice_type=='imagem_de_destaque')[0]; %>
                                    <img class="img-fluid"
                                    src="<%= img != undefined ? img.primary.featured_image : '#' %>" alt=""/>
                                </div>
                                <div class="preview-info col-12 col-xl-6">
                                    <div class="preview-header text-center">
                                        <a class="preview-title" href="/post/<%= post.uid %>"><h4><%- PrismicDOM.RichText.asText(post.data.title) %></h4></a>
                                        <a class="preview-author" href="/autor"><%= post.data.author[0].first_name %></a>
                                    </div>
                                    <div class="ler-mais"><a href="/post/<%= post.uid %>">Leia mais</a></div>
                                </div>
                            </div><!-- /row -->
                        <% }) %>
                    </div>
                    <!-- Retornar aqui quando terminar as outras páginas!
                    <section class="col-md-4 sidebar">
                        <div class="author-index-page">
                            <p class="sidebar-header">Quem escreve?</p>
                            <h6>Brasilio Caldeira Brant</h6>
                            <p>
                                Papiloscopista Policial Federal, formado
                                pela Academia Nacional de Polícia em 1985, atuando principalmente
                                nos seguintes temas Papiloscopia e Representação Facial Humana.
                                Professor dessas áreas na Academia Nacional de Polícia e em curso
                                de Pós-Graduação em Perícias Forenses na matéria fundamentos da
                                Perícia Papiloscópica e Representação Facial Humana. É também
                                palestrante dessas áreas.
                            </p>
                        </div>
                    </section> -->
                </div><!-- /row -->
    
                <!-- <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <% //if (previous_page) { %>
                            <li class="page-item"><a class="page-link" href="/p/<%=// previous_page %>">Anterior</a></li>
                        <% //} %>
    
                        <% //if (next_page) { %>
                            <li class="page-item"><a class="page-link" href="/p/<%=// next_page %>">Proxima</a></li>
                        <% //} %>
                    </ul>
                </nav> -->
            </div>
        </main>

        <footer class="container-fluid">
            <%- include('partials/footer') %>
        </footer>

        <%- include('partials/scripts') %>
    </body>
</html>