<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <!-- Facebook comments plugin -->
        <div id="fb-root"></div>
        <script>
            $(document).ready(function() {
                $.ajaxSetup({cache:'true'});
                $.getScript('https://connect.facebook.net/pt_BR/sdk/debug.js',function(){
                    FB.init({
                        appId:537100973372978,
                        autoLogAppEvents:true,
                        xfbml:true,
                        version:'v3.0'
                    });
                });
            });
        </script>
        
        <header class="container-fluid barraNavTopo text-center mb-5 pt-3">
            <% include ./partials/header %>
        </header>

        <!-- Menu de navegação esquerdo -->
        <nav class="navbarLateral">
            <% include ./partials/sidenavbar %>
        </nav>

        <main class="container">
            <div class="row justify-content-md-center">
                <div class="postsDoBlog col-md-8">
                    <% posts.forEach( (post) => {%>
                        <article class="post">
                            <h3><a href="/post/<%= post.slug %>"><%= post.title %></a></h3>
                            <h5>Por <%= post.author.first_name %> <%= post.author.last_name %></h5>
                            <%- post.summary %>
                        </article>
                    <% }) %>
                </div>
            </div><!-- /row -->

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <% if (previous_page) { %>
                        <li class="page-item"><a class="page-link" href="/p/<%= previous_page %>">Anterior</a></li>
                    <% } %>

                    <% if (next_page) { %>
                        <li class="page-item"><a class="page-link" href="/p/<%= next_page %>">Proxima</a></li>
                    <% } %>
                </ul>
            </nav>
        </main>

        <footer class="container-fluid mt-5 text-center">
            <% include ./partials/footer %>
        </footer>

        <!-- jQuery, Popper.js, JavaScript -->
        <!-- <script type="text/javascript" src="/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script type="text/javascript" src="/libs/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script>
        /* animacao do toggler que abre e fecha a area de navegação */
        $(document).ready(function () {
            var toggleNavegacao = $('#toggleNavegacao');
            var navbarLateral = $('.navbarLateral');
            $('#toggleNavegacao').on('click', function () {
                $(this).toggleClass('abreFechaMenu');
    
                if ( -1 !== $(toggleNavegacao).prop('class').search('abreFechaMenu') ) {
                    $(navbarLateral).css('width', 190);
                } else {
                    $(navbarLateral).css('width', 0);
                }
            });
        });
        </script>
        <script>
        /* toggle comentarios */
        $(document).ready(function() {
            let parent = $('.postsDoBlog');
            parent.on('click','button',null,function() {
                $($(this).next()).toggleClass('fechado');
            });
        });
        </script>
    </body>
</html>