<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/img/icones/icone.png" type="img/png" sizes="15x15">
    <title><%= page == 'post' ? seo.seo_title + " | " : seo.title %>Papiloscopiando</title>
    <meta name="description"          content="<%= page == 'post' ? seo.seo_description : seo.description %>" />
    <!-- Open Graph -->
    <meta property="fb:app_id"        content="Papiloscopiando" />
    <meta property="og:url"           content="https://papiloscopiando.com.br/<%= page == 'post' ? 'post/' + slug : slug %>" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="<%= page == 'post' ? seo.seo_title : seo.title + 'Papiloscopiando' %>" />
    <meta property="og:description"   content="<%= page == 'post' ? seo.seo_description : seo.description %>" />
    <meta property="og:image"         content="<%= page == 'post' ? seo.seo_image : seo.image %>" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="/css/output.css" /> -->
    <link rel="stylesheet" type="text/css" href="/dist/main.3a0070c43243fc640196.css">
    <style>
    @font-face{font-family:'Playfair Display';font-style:normal;font-weight:400;src:local('Playfair Display Regular'),local('PlayfairDisplay-Regular'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgFE_.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:400;src:local('Playfair Display Regular'),local('PlayfairDisplay-Regular'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTPYgFE_.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:400;src:local('Playfair Display Regular'),local('PlayfairDisplay-Regular'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:400;src:local('Playfair Display Regular'),local('PlayfairDisplay-Regular'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:700;src:local('Playfair Display Bold'),local('PlayfairDisplay-Bold'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lWoe5ixi.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:700;src:local('Playfair Display Bold'),local('PlayfairDisplay-Bold'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lWEe5ixi.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:700;src:local('Playfair Display Bold'),local('PlayfairDisplay-Bold'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lWAe5ixi.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Playfair Display';font-style:normal;font-weight:700;src:local('Playfair Display Bold'),local('PlayfairDisplay-Bold'),url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5g.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127453123-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-127453123-1');
    </script>
</head>
<body>
    <% if (page === 'post') { %>
        <!-- Facebook JavaScript SDK -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <!-- Twitter JS -->
        <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        
        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };
        
        return t;
        }(document, "script", "twitter-wjs"));</script>
    <% } %>
    <header class="container-fluid barraNavTopo pt-3 pb-3">
        <div id="sidenav-toggle">
            <span class="traco1"></span>
            <span class="traco2"></span>
            <span class="traco3"></span>
        </div>
        <div class="logo-group text-center">
            <a href="/"><img class="img-fluid" src="/img/icones/papiloscopiando-logo.png" alt="Logo: imagem de uma digital"></a>
            <a class="navbar-brand" href="/">papiloscopiando</a>
        </div>
    </header>
    <nav class="navbarLateral">
        <ul>
            <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="/sobre"><i class="fas fa-desktop"></i> Sobre</a></li>
            <li><a href="/autor"><i class="fas fa-book"></i> Autor</a></li>
            <li><a href="/videos"><i class="fas fa-video"></i> Vídeos</a></li>
            <li><a href="/anunciantes"><i class="fas fa-chart-line"></i> Anunciantes</a></li>
            <li><a href="/contato"><i class="fas fa-at"></i> Contato</a></li>
        </ul>
    </nav>
    <%- include(page) %>
    <footer class="container-fluid">
        <div class="blog-footer-social">
            <a href="https://linkedin.com/in/brasilio-brant-270b0733" target="_blank"><i class="fab fa-linkedin-in" /></i></a>
            <a href="https://facebook.com/brasilio.brant" target="_blank"><i class="fab fa-facebook" /></i></a>
            <a href="https://instagram.com/brasiliobrant" target="_blank"><i class="fab fa-instagram" /></i></a>
        </div>
        <div class="blog-footer-credits">
            <p>Desenvolvido por <a href="https://github.com/brantac" target="_blank">brantac</a>.</a></p>
        </div>
    </footer>
    <script>
    /* abre/fecha sidenavbar */
    const toggle = document.getElementById('sidenav-toggle');
    const sidenavbar = document.getElementsByClassName('navbarLateral')[0];
    function isOpen ()  {
        return sidenavbar.style.left === '0px' ? true : false;
    }
    toggle.addEventListener( 'click', () => {
        isOpen() ? sidenavbar.style.left = '-190px' : sidenavbar.style.left = '0px';
    });
    </script>
    <% if (page === 'post') { %>
    <script>
        function resizeIssu () {
            // retira a largura imposta a revista vinda do 'issuu'
            if(document.querySelector('.issuuembed')) {
                let issuuembed = document.querySelector('.issuuembed');
                issuuembed.style.width = 'auto';
            }
        }
        /**
         * Pega as fontes das imagens armazenadas num container -
         * que não está a mostra - e depois o deleta.
         * É um 'workaround' porque essas informações não são
         * adquiridas numa requisição no cliente, mas adicionadas
         * usando um 'template engine' no servidor.
         */
        function addImageSrc () {
            let imgSrcContainer = document.querySelector(".img-sources");
            let parent = imgSrcContainer.parentNode;
            let srcItems = document.querySelectorAll(".img-src-item");
            let postImgContainers = document.querySelectorAll("div[data-type=static_image]");
            srcItems.forEach((item, index) => {
                let srcAnchor = document.createElement("a"),
                    descSpan = document.createElement("span");

                let src = document.createTextNode(item.firstElementChild.innerHTML);
                let desc = document.createTextNode(item.lastElementChild.innerHTML);

                srcAnchor.appendChild(src);
                srcAnchor.classList.add("img-src-link");
                srcAnchor.href = item.firstElementChild.textContent;
                srcAnchor.target = "_blank";
                descSpan.appendChild(desc);
                descSpan.classList.add("img-description");

                postImgContainers[index].appendChild(srcAnchor);
                postImgContainers[index].appendChild(descSpan);
            });
            parent.removeChild(imgSrcContainer);
        }
        function mainPostPage () {
            resizeIssu();
            addImageSrc();
        }
        window.onload = mainPostPage;
    </script>
    <% } %>
    <% if (page === 'index') { %>
    <script>

        // Script for fetching and showing analytics reporting
        let fetchOptions = {
            method: 'GET'
        };

        async function fetchAnalyticsReporting () {
            let res;
            let reqObject = new Request(`${location.protocol}//${location.host}/anunciantes/analytics`);
            res = await fetch(reqObject, fetchOptions);
            return res;
        }

        async function insertAnalyticsReporting () {
            let reporting, userCounter;
            reporting = await fetchAnalyticsReporting();
            if (!reporting.ok) throw new Error(`HTTP response status: ${response.status}`);
            reporting = await reporting.json();

            userCounter = document.querySelector(".userCounter");
            userCounter.innerHTML = reporting.reports[0].data.rows[0].metrics[0].values[0];
        }

        // window.onload = insertAnalyticsReporting;
    </script>
    <% } %>
</body>
</html>